
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Available-farmers</h2>
<a href="{%url 'fl_app:mainpage' %} " >goback</a>
<table>
  <tr>
        <th>farmer-requestid</th>

    <th>farmer-name</th>
    <th>work-type</th>
    <th>start-date</th>
      <th>end-date</th>
          <th>count</th>
          <th>click</th>


  </tr>

    {% for i in availfarmerslist %}

<form method="post" action="{%url 'fl_app:relation11' i.id  %}">
  <tr>
      <td>{{i.id}}</td>

    <td>{{i.fname}}</td>
    <td>{{i.typework}}</td>
      <td>{{i.startdate}}</td>

      <td>{{i.enddate}}</td>
          <td>{{i.labourcount}}</td>


    <td style="width:2%"><button type="submit"
                style="font-size:15pt;color:white;background-color:green;border:2px solid #336600;padding:3px">
      Accept  </button> </td>
  </tr>
</form>

  {% endfor %}



</table>

</body>
</html>



